ul li{
  list-style-type: georgian;
}

.app_wrapper {
  display: grid;
  margin: 0 auto;
  width:  1200px;

  grid-template-areas:
    "h h"
    "c n";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/

}



.header{
  grid-area: h;
  background-color: darkgreen;
}
.header img{
  width: 20px;
}

.content{
  grid-area: n;
  background-color: red;
}

.nav{
  grid-area: c;
  background-color: blue;
}