.dialogs {
    display: grid;

    grid-template-columns: 2fr 10fr;
}

.dialogsItems {

    padding: 10px;

}


.dialogsItems a{
    color: black;

}

.dialogsItems a.active{
    color: gold;

}

.dialogs .dialog{

}

